@using Microsoft.AspNetCore.Identity
@using Social.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@*<ul class="navbar-nav">*@
@if (SignInManager.IsSignedIn(User))
{
<nav class="menu">
    <a href="#">
        <div class="menu__element">
            <img src="~/img/headico/home.svg" alt="home">
        </div>
    </a>
    <a href="#">
        <div class="menu__element">
            <img src="~/img/headico/chat.svg" alt="chat">
        </div>
    </a>
    <a href="#">
        <div class="menu__element">
            <img src="~/img/headico/friends.svg" alt="friends">
        </div>
    </a>
    <a asp-area="Identity" asp-page="/Account/Manage/Index">
        <div class="profileimg">
            <img id="avatar" src="~/img/profile.png" alt="avatar">
        </div>
    </a>
    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button id="logout" type="submit">Выйти</button>
    </form>
</nav>
    @*<li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>*@
}
@*else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }*@
@*</ul>*@
