@using Microsoft.AspNetCore.Identity
@using Social.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<nav class="menu">
    <a asp-controller="Home" asp-action="Index">
        <div class="menu__element">
            <img src="~/img/headico/home.svg" alt="home">
        </div>
    </a>
    <a href="#">
        <div class="menu__element">
            <img src="~/img/headico/chat.svg" alt="chat">
        </div>
    </a>
    <a href="#">
        <div class="menu__element">
            <img src="~/img/headico/friends.svg" alt="friends">
        </div>
    </a>
    <a asp-area="Identity" asp-page="/Account/Manage/Index">
        <div class="profileimg">
            <img id="avatar" src="~/img/profile.png" alt="avatar">
        </div>
    </a>
    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button id="logout" type="submit">Выйти</button>
    </form>
</nav>
}
