@page
@model LoginModel

@{
    ViewData["Title"] = "Авторизация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="wrapper">
        <div class="sign">
            <div class="sign__left">
                <img src="~/img/social.svg" alt="sign">
            </div>
            <form id="account" method="post">
                <div class="form__row">
                    <p>Авторизация</p>
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <div>
                        <input asp-for="Input.Email" placeholder="Email">
                    </div>
                    <div>
                        <input asp-for="Input.Password" placeholder="Пароль">
                    </div>
                    <button type="submit">Войти</button>
                    <a asp-area="Identity" asp-page="/Account/Register" id="join__btn">Присоединиться</a>
                </div>
            </form>
        </div>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
